services:
  db:
    image: postgres
    env_file:
      - .env
    environment:
      POSTGRES_HOST: db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_volume:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "gem install foreman && foreman start -f Procfile.dev"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      REDIS_URL: ${REDIS_URL}
      RAILS_ENV: development
      BUNDLE_PATH: /myapp/vendor/bundle
      GEM_HOME: /usr/local/bundle
    volumes:
      - .:/myapp
      - /myapp/node_modules
      - bundle_data:/myapp/vendor/bundle
    ports:
      - "3000:3000"
    tty: true
    stdin_open: true
    depends_on:
      - db
      - redis

  sidekiq:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "bundle install && bundle exec sidekiq"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      REDIS_URL: ${REDIS_URL}
      RAILS_ENV: development
      BUNDLE_PATH: /myapp/vendor/bundle
      GEM_HOME: /usr/local/bundle
    volumes:
      - .:/myapp
      - /myapp/node_modules
      - bundle_data:/myapp/vendor/bundle
    depends_on:
      - db
      - redis
      - web

  selenium_chrome:
    image: selenium/standalone-chrome
    shm_size: 2gb
    ports:
      - "4444:4444"

volumes:
  postgres_volume:
  bundle_data:
  redis_data:
