@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper,
.swiper-container {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  overflow: visible !important;
  z-index: 1 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.swiper-wrapper {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 1 !important;
  display: flex !important;
  box-sizing: content-box !important;
  transition-property: transform !important;
  transition-timing-function: initial !important;
  overflow: visible !important;
}

.swiper-slide {
  flex-shrink: 0 !important;
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transition-property: transform !important;
}

.swiper-pagination {
  position: absolute !important;
  text-align: center !important;
  transition: opacity 0.3s !important;
  transform: translate3d(0, 0, 0) !important;
  z-index: 10 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: -24px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  display: inline-block !important;
  border-radius: 50% !important;
  margin: 0 4px !important;
  background-color: #D1D5DB !important;
  /* gray-300 */
  opacity: 0.8 !important;
  cursor: pointer !important;
  transition-property: all !important;
  transition-duration: 0.2s !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #2563EB !important;
  /* blue-600 */
  transform: scale(1.1) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}

@layer components {

  .highlight-post {
    animation: highlight-fade 2s ease-in-out;
  }

  @keyframes highlight-fade {
    0% {
      box-shadow: 0 0 0 2px theme('colors.blue.500');
      transform: translateY(-4px);
    }

    100% {
      box-shadow: 0 0 0 0 theme('colors.blue.500');
      transform: translateY(0);
    }
  }
}

@layer utilities {
  .swiper-visible {
    @apply overflow-visible !important;
  }
}